[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "external/oidn"]
	path = external/oidn
	url = https://github.com/OpenImageDenoise/oidn.git
[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/embree"]
	path = external/embree
	url = https://github.com/embree/embree
